.content
{
    
}
.imageGallery
{
    display: grid;
    grid-template-areas: 
    "image1 image2"
    "image1 image3" ;
    grid-template-rows:200px 200px  ;
    grid-template-columns:1fr 1fr;
    column-gap:10px;
    row-gap:10px;
}
.image1
{
grid-area: image1;
background-image: url("../../assets/img/img1.jpg");
background-size: cover;
}
.image2
{
grid-area: image2;
background-image: url("../../assets/img/img2.jpg");
background-size: contain;
background-repeat: no-repeat;
}
.image3
{
grid-area: image3;
background-image: url("../../assets/img/img3.jpg");
background-size: cover;

}
.aboutTitle
{
    color: var(--mainColor);
    font-weight: 500;
}
.imageGallery>div
{
border-radius: 15px;
}
.knowMoreButton
{
    background-color: var(--mainColor);
    color: white;
    border-radius: 20px;
    margin: 0 !important;
    padding-left: 7px !important;
    padding: 2px !important;

}
.knowMoreButton:hover
{
    background-color: var(--mainColor);
    color: white;
}
.arrowIcon
{
    background-color: #fff;
    color: var(--mainColor);
    width: 3em;
    height: 3em;
    padding: 15px;
    font-size: 0.75em;
    border-radius: 20px 20px 20px 20px ;
    padding: 2px !important;
}