*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.courseBox
{
    background-color: var(--tertiaryColor);
    border: 1px solid #E6E9EB;
    border-radius: 25px;
}
.courseDescription p
{
font-size: 1em;
font-weight: 500;
color:var(--textColor);
}
.courseDescription h3
{
    color:var(--textColor);
}
.courseIcon
{
    display: flex;
    align-items: flex-start;
    flex-direction: column;  
}
.icon
{
    height:75%;
    width: 100%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: 100% 100%;

}
.seeMore
{
    color: var(--mainColor);
}
.seeMore:hover
{
    background-color: var(--mainColor);
    color: white;
    transition: 0.3s linear;
}
#icon1
{
    background-image: url("../../assets/img/icons/html.png");
}
#icon2
{
    background-image: url("../../assets/img/icons/social.png");
}

#icon3
{
    background-image: url("../../assets/img/icons/js.png");
}
#icon4
{
    background-image: url("../../assets/img/icons/sql-server_4492311.png");
}
#icon5{
    background-image: url("../../assets/img/icons/bootstrap.png");
}
#icon6{
    background-image: url("../../assets/img/icons/react.png");
}

.coursesContainer
{
    row-gap: 10px;
}