:root
{
    --mainColor:#00ADB4;
    --textColor:#37546E;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.landingComponent
{
    margin: 0;
    padding: 0;
    background-image: url("../../assets/img/bg.png");
    background-size:  contain;
    background-repeat: no-repeat;
    height: 100%;
    background-position: right bottom;
}
.helloText
{
    text-transform: capitalize;
    color:#37546E ;
    font-size: 3.0rem;
}
.helloParagraph
{
    font-size: 1.5rem;
    width: 55%;
    line-height: 1.8;
}
.exploreBtn
{
    background-color: #00ADB4;
    color: #fff;
    border-radius: 20px;
    font-size: 1.25rem;
}
.exploreBtn:hover
{
    border:1px solid var(--textColor);
    border-radius:1.25rem;
    color: var(--textColor);
    
}
.missile-icon
{
    font-size: 25px;
}
.learnMore
{
    font-size: 1.25rem;

}
.learnMore:hover 
{
    background-color: var(--mainColor);
    color: white;
    transition-duration: 0.8s ;
    transition-property: all ;
    border-radius: 20px;
    transition-timing-function: ease-in-out;
}
.learnMore:hover .arrow
{
    color: white;
}
.circle
{
    width: 40px;
    height: 40px;
    background-color: var(--mainColor);
    border-radius: 50%;
    position: relative;   
    background-size: cover;
}
.circle:first-child
{
    left: 0;
    background-image: url("../../assets/img/subscriber1.jpg");
 
}
.circle:nth-child(2)
{
    left: -15px;
    background-image: url("../../assets/img/subscriber2.jpg");
}
.circle:nth-child(3)
{
    left: -30px;
    background-image: url("../../assets/img/subscriber3.jpg");

}
.circle:nth-child(4)
{
    left: -45px;
    background-image: url("../../assets/img/subscriber4.jpg");

}
.textMessage
{
    color: #37546E;
     font-size: 20px;
     font-weight: bold;
}
span
{
    color: var(--mainColor);
}
@media screen and (max-width: 900px) {
   .mainContent
   {
    background-image: none;
   }
   .helloParagraph
   {
    width: 100%;
   }
  }
  
.arrow
{
    color: var(--mainColor);
}
@media screen and (max-width: 992px)
{
.landingComponent
{
    background-image: none;
}
}