.newsImageContainer
{
    width: 300px !important;
    height: 300px !important;
    border-radius: 100px 90px 150px 100px;
    background-size: cover;
    box-shadow: 10px 10px 44px -18px  gray;
}
#nic1
{
    background-image: url("../../assets/img/kidsOne.jpg");

}
#nic2
{
    background-image: url("../../assets/img/kidsTwo.jpg");

}
.readMoreText
{
    font-weight: 600;
    text-decoration: underline solid #000 1px ;
    text-underline-offset: 5px;
}
.FaCalendarAlt
{
    color: var(--purpleColor);
    font-size: 20px;
}
.viewAllButton
{
    border-radius: 15px 30px 10px 15px;
    padding:10px;
    padding-inline: 30px;
    background-color: var(--purpleColor);
    color: #fff;
    font-weight: 500;
    box-shadow: 10px 10px 44px -10px  var(--purpleColor);
}
.decorationIcon
{
    width: 125px;
    height: 100px;
}
.decorationIcon:first-of-type
{
position: absolute;
top: 75%;
left: 35%;
}
.decorationIcon:nth-of-type(2)
{
position: absolute;
top: 50%;
left: 90%;
}
.decorationIcon:nth-of-type(3)
{
position: absolute;
top: 85%;
left: 10%;
}

