@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    font-family: "Quicksand";
}
.ourServicesTitle
{
    color:var(--textColor) ;
}
.servicesDescText
{
    font-size: 1.2em;
    color: var(--textColor);
    font-weight: 500;
}
.slogan
{
background-image: linear-gradient(#00c7ce,#007276);
background-clip: text;
-webkit-text-fill-color: transparent;
font-weight: 600;
}
.serviceBox
{
  height: 300px;
    background-color:#D9F3F4;
    border-radius: 25px;
    border: 1px solid #1E9EA1;
}
.serviceBox>h2
{
    color: var(--textColor);
}
.serviceDesc
{
    color: #8E969B;
}
.seeMore
{
    color: #1E9EA1;
}
.seeMore:hover
{
    color: #1E9EA1;
}
.serviceCircle
{
width: 100px;
height:100px;
background-color: #fff;
border-radius: 50%;
position: relative;
top: -50px;
border: 1px solid var(--mainColor);
}
.serviceIcon
{
    font-size: 50px;
    color: var(--mainColor);
}
.serviceContainer
{
    align-items: flex-start;
}

/* Extra small devices (phones) */
@media (max-width: 575.98px) {
    .serviceBox
    {
        width: 100%;
    }
  }
  
  /* Small devices (tablets) */
  @media (min-width: 576px) and (max-width: 767.98px) {
    .serviceBox
    {
        width: 49%;
        
    }
  }
  
  /* Medium devices (laptops) */
  @media (min-width: 768px) and (max-width: 991.98px) {
    .serviceBox
    {
        width: 49%;
        
    }
  }
  
  /* Large devices (desktops) */
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .serviceBox
    {
        width: 49%;
        margin: 0 5px;

        
    }
  }
  @media screen and (max-width: 768px) {
    .helloText {
      font-size: 2.5rem;
    }
    .helloParagraph {
      font-size: 1.2rem;
      width: 100%;
    }
  }
  
  @media screen and (max-width: 530px) {
    .serviceBox {
      width: 100% !important;
  }
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    .serviceBox {
      width: 48%;
    }
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .serviceBox {
      width: 47% !important;
    }
  }
  @media (min-width: 1200px) {
    .serviceBox {
      width: 24%;
    }
  }

    .serviceBox
    {
        margin-bottom: 4em;
    }
@media  (max-width:530px)
{
    .servicesContainer
    {
        margin-top: 1101120px ;
        
    }

}
@media screen and (max-width:575.98px)
{
    .servicesContainer
    {
        margin-top: 30px !important;
    }

}
@media (min-width: 576px) and (max-width: 767.98px) 
{
    .servicesContainer
    {
      
    }
}