.signUpParentContainer
{
    height: 100vh;
   background-image: url("../../assets/img/dotsBg3.png");
   background-size: cover;
   background-repeat: no-repeat;
}
.signUpTitle
{
    font-size:4rem;
    color: var(--mainColor);
    font-weight: 600;
}
.signUpButton
{
    text-align: center;
    background-color: var(--darkBlueColor);
    color: #fff;
    font-weight: 600;
}
.signUpMessage
{
    color: var(--darkBlueColor);
    font-weight: 700;
}